@import "tailwindcss";

/* Aktifkan dark mode berbasis class */
@variant dark (&:where(.dark, .dark *));

/* Sembunyikan ikon mata bawaan Microsoft Edge / Browser */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@media (min-width: 768px) {
  body:has(.desktop-sidebar-nav) .min-h-screen {
    padding-left: 16rem;
  }
}
